*{
    margin: 0;
    padding: 0;
}

body{
    color: white;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center .avatar img{
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin-top: 3%;
    margin-left: 3%;
}

.center{
    width: 550px;
    height: 550px;
    text-align: center;
}

/*.content{
    border-radius: 50%;
    margin-top: 5%;
    margin-left: 5%;
    padding: 20px;
}*/

.findme{
    border-radius: 50%;
    margin-top: 5%;
    margin-left: 5%;
    color: gray;
}

.social{
    border-radius: 50%;
    margin-top: 5%;
    margin-left: 5%;
}

h3{
    color: gray;
}

.content h2,
h1,h3{
    font-weight: lighter;
    letter-spacing: 1px;
    width: 80%;
    margin: 10px auto;
}


.projects{
    border-radius: 50%;
    margin-top: 5%;
    margin-left: 5%;
}

.content h2{
    margin-top: 10px;
}

div.social i{
    padding: 0 15px;
    font-size: 50px;
    color: white;
    transition: 1s;
}

div.social i:hover{
    color: orange;
    transition: 1s;
}

/*div.social {
    color: white;
    transition: 1s;
}*/

@media screen and (max-width:700px) {
    .center{
        width: 300px;
        height: 500px;
    }
}

.social .button{
    width: 85px;
    padding: 15px 0;
    border-radius: 35px;
    margin: 5px;
    text-align: center;
    font-weight: 600;
    background-color: black;
    border-style: solid;
}

button:hover{
    color: orange;
    transition: 1s;
}

.projects button{
    width: 85px;
    padding: 15px 0;
    border-radius: 35px;
    margin: 5px;
    text-align: center;
    font-weight: 600;
    background-color: white;
    transition: 1s;
}

